<mat-toolbar style="background-color: #fff">
  <img
    src="../assets/inatel.png"
    alt="Inatel Andebol - Classificação"
    style="height: 110px"
  />
  <!-- <span class="example-spacer"></span>

  <button mat-button style="color: #ffffff; background-color: #e8ae12">
    Adicionar resultado
  </button> -->
</mat-toolbar>

<mat-card style="margin: 50px 150px 50px 150px">
  <h1>Classificação</h1>
  <hr />
  <table
    mat-table
    [dataSource]="dataSource"
    class="demo-table"
    matSort
    matSortActive="points"
    (matSortChange)="onMatSortChange()"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">Posição</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}º</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef style="width: 5%"></th>
      <td
        mat-cell
        *matCellDef="let element"
        style="text-align: right; padding-right: 15px"
      >
        <img src="{{ element.image }}" style="height: 30px" />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 40%">Nome</th>
      <td mat-cell *matCellDef="let element">
        {{ element.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="games">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">J</th>
      <td mat-cell *matCellDef="let element">{{ element.games }}</td>
    </ng-container>

    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">V</th>
      <td mat-cell *matCellDef="let element">{{ element.wins }}</td>
    </ng-container>

    <ng-container matColumnDef="draws">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">E</th>
      <td mat-cell *matCellDef="let element">{{ element.draws }}</td>
    </ng-container>

    <ng-container matColumnDef="losses">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">D</th>
      <td mat-cell *matCellDef="let element">{{ element.losses }}</td>
    </ng-container>

    <ng-container matColumnDef="goalsScored">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">GM</th>
      <td mat-cell *matCellDef="let element">{{ element.goalsScored }}</td>
    </ng-container>

    <ng-container matColumnDef="goalsConceded">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">GS</th>
      <td mat-cell *matCellDef="let element">{{ element.goalsConceded }}</td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef style="width: 5%">PTS</th>
      <td mat-cell *matCellDef="let element">
        <b>{{ element.points }}</b>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; let i = index"
    ></tr>
  </table>
</mat-card>

<!-- <mat-card style="margin: 50px 150px 1150px 150px">
  <h1>Resultados</h1>
  <hr />

  <mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile style="background-color: whitesmoke; border-radius: 5px"
      >1</mat-grid-tile
    >
    <mat-grid-tile style="background-color: whitesmoke; border-radius: 5px"
      >2</mat-grid-tile
    >
    <mat-grid-tile style="background-color: whitesmoke; border-radius: 5px"
      >3</mat-grid-tile
    >
    <mat-grid-tile style="background-color: whitesmoke; border-radius: 5px"
      >4</mat-grid-tile
    >
  </mat-grid-list>
</mat-card> -->
